NODE_ENV=development
PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USER=claro
DB_PASSWORD=claro
DB_NAME=claro_db
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=7d
CSV_MAX_FILE_SIZE_MB=5
CSV_UPLOAD_DIR=./uploads
ALLOWED_ORIGINS=http://localhost:5173
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=noreply@claro.app
LOG_LEVEL=log
